[Desktop Entry]
Name=BeyondSQLExecutor
Comment=BeyondSQLExecutor
Exec=BeyondSQLExecutor
TryExec=BeyondSQLExecutor
Icon=BeyondSQLExecutor
Terminal=false
Type=Application
Categories=Development;Database;Utility;
StartupWMClass=es-jklabs-BeyondSqlExecutor
