[Desktop Entry]
Name=BeyondSQLExecutor
Comment=Lanzador de sentencias SQL de manera masiva
Exec=/opt/beyondsqlexecutor/bin/BeyondSQLExecutor %u
Icon=/opt/beyondsqlexecutor/lib/BeyondSQLExecutor.png
Terminal=false
Type=Application
Categories=Development;Database;Utility;
StartupWMClass=es-jklabs-BeyondSQLExecutor
StartupNotify=true
